<nav>
    <ul id="navList" class="centerXY">
      <li class="navItem">
          <span id="nav-home" data-id="home"class="menu-item centerXY active"><%= content["nav"][0]%></span>
      </li>
      <li class="navItem marginLeft">
          <span id="nav-about" data-id="about" class="menu-item centerXY"><%= content["nav"][1]%></span>
      </li>
      <li class="navItem marginLeft">
          <span id="nav-projects" data-id="projects" class="menu-item centerXY"><%= content["nav"][2]%></span>
      </li>
      <li class="navItem marginLeft">
          <span id="nav-contact" data-id="contact" class="menu-item centerXY"><%= content["nav"][3]%></span>
      </li>
      <li class="navItem marginLeft">
        <i id="theme" class="fa-solid fa-sun menu-item centerXY"></i>
      </li>
      <li class="navItem marginLeft">
         <a href="/pt" class="lang"><span id="pt" class="menu-item language">PT</span></a>
      </li>
      <li class="navItem marginLeft">
        <a href="/" class="lang"><span id="en" class="menu-item language">EN</span></a>
      </li>
    </ul>
  </nav>