<section id="home" class="max-WH centerXY active">
    <div id="home-container" class="flex centerXY directionCollumn">
      <header><h1 id="introduction" class="centerText"><%= content["homeSection"]["introduction"][0] %> <strong>Marcos</strong>,<br>
        <%= content["homeSection"]["introduction"][1] %> <strong><%= content["homeSection"]["introduction"][2] %></strong>!</h1></header>
      <a href="/resume/resume.pdf" download="MarcosGarcia-resume"
        ><span id="resume"><%= content["homeSection"]["resume"] %></span></a
      >
    </div>
  </section>